.logiginBody{
    height: calc(100vh - 70px);
}
.banner1{
    background-color: #fff;
    //background-image: url("../../../public/images/banner1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.banner2{
    background-image: url("../../../public/images/sideImg.jpg");
    background-repeat: no-repeat;
    //background-position: left top;
    background-position: 55%;
    //background-attachment: fixed;
    background-size: cover;
    //background-size: 55%;
    width: 100%;
    height: 100%;
    
}
.loginPage{
    width: 65%;
    //background-color: #FFFFFF;
}
.login-right-sec {
    position: relative;
}
.login-right-sec input, .login-right-sec button {
    height: 55px;
    border: 1px solid #000 !important;
}
.login-left-sec {
    position: relative;
}
.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
}
.loging-hedding-contnr {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 30%;
}
.loging-hedding-contnr h1 {
    font-size: 46px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
}
.loging-hedding-contnr p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}