.tableButton{
    display: inline;

    @media (max-width: 480px){
        button{
            padding: 5px;
            
        }
        svg{
            width: 15px;
        }
        
    }
    
}