.arrow {
    position: absolute;
    top: 10px;
    left: 10px; /* Back arrow */
  }
  .arrow.forward {
    right: 10px; /* Forward arrow */
  }
  
  .arrow.back {
    left: 30%; /* Adjust placement */
  }
