
@font-face {
  font-family: openSanseRegular;
  src: url(./fonts/OpenSans-Regular.ttf);
}
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #F7F7F7; */
  height: 100vh;
  font-family: openSanseRegular;
}
p{
  font-size: 14px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.mainBody{
  display: flex;
}
.rhsBox{
  width: 100%;
}
