Prevent full-page horizontal scrolling
body {
  overflow-x: hidden;
}



.table-container {
  width: 100%;
  overflow-x: auto;
  max-height: 500px;
  max-width: 100vw;
  overflow-x: auto;
  display: block;
  white-space: nowrap; /* Prevents text from wrapping */
}

thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  white-space: nowrap;
}

tbody td:first-child,
thead th:first-child {
  position: sticky;
  left: 0;
  background: white;
  z-index: 20;
}

.mobileView{
  display: block;
}

@media screen and (min-width: 479px) {

  .border{width: auto;}
  .mobileView{
    display: none;
  }
  
  .mobileView div svg{
    width: 15px; 
  }
  .mobileView button{
    padding: 2px;
  }
}

@media screen and (max-width: 480px) {
  .webView{
    display: none;
  }
  .mobileView div{
    display: inline !important;
  }
  .mobileView div button{
    padding: 2px;
  }
}

